name: Markdown Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          globs: |
            **/*.{md,mkd,mdwn,mdown,markdown,markdn,mdtxt,mdtext,workbook}
            !**/*.code-search
            !**/bower_components/**
            !**/node_modules/**
            !**/.git/**
            !tools/ExtraTool/**
          config: .markdownlint-cli2.jsonc
